<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../node_modules/nprogress/nprogress.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="../../assets/img/monkey.png" class="img-circle" alt="">
            </div>
            <form action="" class="col-xs-offset-1 col-xs-10">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input id="name" type="text" class="form-control" placeholder="用户名"
                    value="前端学院">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input id="pass" type="password" class="form-control" placeholder="密码"
                    value="123456">
                </div>
                <a href="./dashboard.html" type="submit" class="btn btn-lg btn-primary btn-block">登 录</a>
            </form>
        </div>
    </div>
</body>
</html>
